<h1 class="text-center mt-5">Register</h1>
<div class="container mt-5">
    <div class="card cart mx-auto">
        <form class="mx-auto p-3 register" action="/signin" method="POST">

        <div class="form-group p-2">
            <label for="firstName">First name:</label>
            <input class="form-control" type="text" name="firstName" placeholder="First name...">
        </div>
        <div class="form-group p-2">
            <label for="lastName">Last name:</label>
            <input class="form-control" type="text" name="lastName" placeholder="Last name...">
        </div>
        <div class="form-group p-2">
            <label for="phone">Phone:</label>
            <input class="form-control" type="text" name="phone" placeholder="+212...">
        </div>
        <div class="form-group p-2">
            <label for="email">Email:</label>
            <input class="form-control" type="text" name="email" placeholder="user@domain...">
        </div>
        <div class="form-group p-2">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" placeholder="password...">
        </div>
        <div class="form-group p-2">
            <label for="confirmPassword">confirm password:</label>
            <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm password...">
        </div>
        <div class="text-center mt-2 p-2"><button type="submit" class="btn btn-primary col-12">Signin</button></div>

    </form>
    </div>
</div>